<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <img src="../../assets/rad.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content img src="../assets/slider_background.jpg" alt="">
	<h1 align="center"><img src="../../assets/logo.png"/></h1>
  <ion-card *ngIf="!loading" color="danger" class="welcome-card">

		<h1 align="center" class="estado"
			[ngClass]="{'baja': ws.dataAPI[ws.contadorDatos] <= 2 && ws.dataAPI[ws.contadorDatos] >0,
					'moderada': ws.dataAPI[ws.contadorDatos] >=3 && ws.dataAPI[ws.contadorDatos] <=5,
					'alta': ws.dataAPI[ws.contadorDatos] >=6 && ws.dataAPI[ws.contadorDatos] <=7,
					'MuyAlta': ws.dataAPI[ws.contadorDatos] >=8 && ws.dataAPI[ws.contadorDatos] <=10,
					'Extremadamente': ws.dataAPI[ws.contadorDatos] >= 11}">
			{{ ws.dataAPI[ws.contadorDatos] }}
		</h1>
     
	 </ion-card>

	<ion-card *ngIf="loading">
		<p class="ion-text-center">Obteniendo datos...</p>
		<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
	</ion-card>

	<!--<ion-card *ngIf="!loading">
		<p class="ion-text-center">Error al obtener información</p>
	</ion-card>-->

	 <ion-card class="welcome-card">
	  <div class="hero_side_text">
					<div class="v_slider_image">
						<table class="table table-striped table-bordered table-hover table-condensed" style="width: 50%" align="center">
							<tr class="active">
								<th class="text-center" colspan="3">Categorías de exposición</th>
							</tr>
							<tr class="active">
								<th class="text-center">Categoria</th>
								<th class="text-center">Valores</th>
								<th class="text-center">Colores</th>
							</tr>
							<tr class="text-center">
								<td>Baja</td>
								<td>< 2</td>
								<td bgcolor="#4eb400"></td>
							</tr>
							<tr class="text-center">
								<td>Moderada</td>
								<td >3 - 5</td>
								<td bgcolor="#f7e400"></td>
							</tr>
							<tr class="text-center">
								<td>Alta</td>
								<td >6 - 7</td>
								<td bgcolor="#f85900"></td>
							</tr>
							<tr class="text-center">
								<td>Muy alta</td>
								<td >8 - 10</td>
								<td bgcolor="#d8001d"></td>
							</tr>
							<tr class="text-center">
								<td>Extremadamente alta</td>
								<td >11 +</td>
								<td bgcolor="#998cff"></td>
							</tr>
						</table>
					</div>
				</div>
			 
    </ion-card>
</ion-content>
