<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <img src="../../assets/rad.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <ion-card *ngIf="loading">
          <p class="ion-text-center">Obteniendo datos...</p>
          <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
        </ion-card>
        <canvas width="300" height="400" id="realtime"></canvas>
      </div>
    </div>
  </div>
</ion-content>
